extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Barang
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Daftar Barang
			li.active Edit Barang
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Barang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/databarang/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.fa.fa-check
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama Barang
									input(type='text',value="#{data.nama_barang}",name='nama_barang',placeholder='Masukan Name', autofocus).form-control
								.form-group
									label
										| Harga
									input(type='text',value="#{ (harga == undefined) ? data.harga : harga }",name='harga',placeholder='Masukan Harga').form-control
								.form-group
									label
										| Stok 
									input(type='text',value="#{ (stok == undefined) ? data.stok : stok }",name='stok',placeholder='Masukan Stok').form-control
								.form-group
									label
										| Jenis Barang
									input(type='text',value="#{ (jenis_barang == undefined) ? data.jenis_barang : jenis_barang }",name='jenis_barang',placeholder='Masukan Jenis Barang').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-success
									|  Edit
								a(href='/databarang/data').btn.btn-primary.pull-right
									| Kembali